{% extends 'base.html.twig' %}
{% block body %}
   <div class="text-center">
       <h3>Fruits test project</h3>
       <aside>
        </aside>
       <div class="jumbotron text-center">
           <app></app>
       </div>
   </div>
{% endblock %}
